  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Bert</title>
  </head>
  <body>
    <div style="text-align: center;">
    <form action="" method="POST">
      <input type="text" class="question" placeholder="Question"/>
      <input type="text" class="context" placeholder="Context"/>
      <input type="submit"/>
      <br>
      <br>
      <div class="answer_holder"></div>
    </form>
    <h3 style='color: #ccc;font-size: 30px;'>No questions and answers yet..</h3>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port);

      socket.on( 'connect', function() {

        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          let question = $( 'input.question' ).val()
          let context = $( 'input.context' ).val()
          socket.emit( 'my event', {
            question : question,
            context : context
          } )
          $( 'input.question' ).val( '' ).focus()
          $( 'input.context' ).val( '' ).focus()
        } )
      } )

      socket.on( 'Response', function( msg ) {
        console.log( msg )
        if( typeof msg.question !== 'undefined' ) {
          $( 'h3' ).remove()
          $( 'div.answer_holder' ).append( '<div><b style="color: #000">' + msg.question + '</b> ' + msg.answer + '</b> ')
          $( 'div.answer_holder' ).append( '<div>' + '<br>')
        }
      })
    </script>

  </body>
  </html>